<!DOCTYPE html>
<style>


    
.post{
     width: 60%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #f69e6d;
    border-radius: 10px;
    /*background-color: #f8f8f8;*/
    /*font-size: 16px;*/
    resize: none;
     box-shadow: 1px 1px 11px #330033;
     text-align: center;
     margin: 3%;
}    

.post-box{
    margin: 5px;
}
</style>




<center>
     
<h1>게시판 ㅎㅎ</h1><% if user_signed_in? %>
   <strong><%= current_user.email%></strong>님 환영합니다!
    <%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %>
<% else %>
    <%= link_to '로그인', new_user_session_path %>
    <%= link_to '회원가입', new_user_registration_path %>
<% end %>        
</center>





<div class="post-box">
<% @posts.each do |post| %>
<center>
<div class = "post">
    <%= post.title%>
    <%= post.content%>
    <br><br>
    <%= link_to '이 글 보기', post_path(post.id) %>
    <%= link_to '수정하기', edit_post_path(post.id) %>
    <%= link_to '삭제', post_path(post.id), method: 'delete', data: {confirm: "정말 삭제하실 건가요?"} %>
</div>
<% end %>
</center>
</div>

<center><%= link_to '새글쓰기', '/posts/new' %></center>